body {
    color: white;
    background: rgb(255, 255, 255);
    background: #000000;
    font-family: helvetica;
}

@-webkit-keyframes rotate {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
/* 
#refresh {
    background:gold
    -webkit-animation: rotate 3s linear infinite;
} */

a {
    color: white;
    font-size: 17px;
}

a:hover {
    color: #ccc;
}

.container {
    width: 480px;
    margin: 0 auto;
}

.game-container {
    position: relative;
}

.menu-container {
    padding: 60px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(0 0 0 / 88%);
    background: radial-gradient(#ffffff, #030303fc);
    z-index: 100;
    text-align: center;
}

.lower-container {
    display: flex;
    justify-content: space-between;
}

.scores {
    display: flex;
}

#score, #highscore {
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 18px;
}

#score::after, #highscore::after {
    font-size: 14px;
}

#score::after {
    content: 'SCORE';
}

#highscore::after {
    content: 'BEST';
}


#game-board {
    background-position:0 0, 10px 0, 10px -10px, 0px 10px;
    /* background-image: linear-gradient(45deg, #bbada0 25%, transparent 25%), linear-gradient(-45deg, #bbada0 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #bbada0 75%), linear-gradient(-45deg, #cdc1b4 75%, #bbada0 75%); */
    /* background: #4a4a4a; */
    background-size: 120px 120px;
    background-position: 0 0, 0 60px, 60px -60px, -60px 0px;
    height: 480px;
    width: 480px;
    box-sizing: border-box;
    display: flex;
    /* overflow: hidden; */
}



#mute {
    font-size: 17px !important;
    position: relative;
    padding: 11px;
    right: -2px;
} #settings {
    width: 18px;
    height: 29px;
    box-sizing: border-box;
    padding: 7px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* display: none; */
    /* flex-basis: auto !important; */
} .bar {
    transition: all 0.3s ease-in-out;
    width: 100%;
    top: 0;
    position: relative;
    height: 2px;
    background: white;
    /* display: none; */
} .settings-container {
    position: relative;
    top: 17px;
    width: 480px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
} #close-menu {
    position: absolute;
    right: 0;
    padding: 10px 9px;
    top: 0;
    font-size: 17px !important;
}
#mute:hover, #settings:hover, #close-menu {
    cursor: pointer;
} .mute-container {
    display: flex;
}

.btn-primary {
    background: white;
    border: none;
    padding: 2px 10px;
    cursor: pointer;
    position: relative;
}
.btn-primary:hover {
    top: 1px;
}



.col {
    width: 60px;
    height: 100%;
    box-sizing: border-box;
}

.jewel-outer {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.debug-tag {
    position: absolute;
    background: #000000b8;
    border-radius: 2px;
    padding: 1px 0px;
    display: none;


    /* all i know is i need these applied to the spinning grav thing pokemon thing */
    /* color: black;
    position: absolute;
    background: radial-gradient(#ffffff70, #2c0903);
    border-radius: 41
px
;
    display: none;
    height: 8
px
;
    width: 8
px
; */
}

.jewel-inner {
    transition: all 0.3s ease;
    height: 38px;
    width: 38px;
    border-radius: 12px;
    border-radius: 17px;
    box-sizing: border-box;
    /* border: #ececec78 2px solid; */
    position: relative;
    /* box-shadow: inset 0 0 10px #0000002b; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

i {
    font-size: 30px !important;
}

.jewel-0 {
    color: #d00;
    color: #d40000;
    font-size: 45px;
}
.jewel-1 {
    color: #bf5700;
    color: #B87333;
    color: #ff7400;
    color: #ff7d10;
    font-size: 44px;
}
.jewel-2 {
    color: #ffce00;
    color: #FFD700;
    color: #ffdb18;
    font-size: 36px;
}
.jewel-3 {
    color: #14b400;
    color: #1be0b2;
    color: #1be021;
    color: #00d939;
    font-size: 34px !important;
}
.jewel-4 {
    color: #0062f4;
    color: #06f;
    color: #04f;
    color: #1070ff;
    font-size: 42px;
}
.jewel-5 {
    color: #323232;
    color: #000;
    color: #c100bc;
    font-size: 39px !important;
    font-size: 44px;
    transform: scale(-1, 1);
}
.jewel-6 {
    color: #fff;
    /* color: #3a3a3a; */
    font-size: 47px;
    /* -webkit-animation: rotate 3s linear infinite; */

}

.jewel-active {
    transform: scale(1.15);
}

.jewel-poof {
    transform: rotate(720deg) scale(2);
    transition: all .3s ease;
    opacity: 0;
}

.transition-none {
    transition: none;
}

.swap-left {
    transform: translateX(-60px);
}
.swap-right {
    transform: translateX(60px);
}
.swap-up {
    transform: translateY(-60px);
}
.swap-down {
    transform: translateY(60px);
}

.login-page-container {
    margin: 0 auto;
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}