.container {
    display: flex;
}

#game-board { 
    background-position:0 0, 10px 0, 10px -10px, 0px 10px;
    background-image: linear-gradient(45deg, #bbada0 25%, transparent 25%), linear-gradient(-45deg, #bbada0 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #bbada0 75%), linear-gradient(-45deg, #cdc1b4 75%, #bbada0 75%);
    background-size: 120px 120px;
    background-position: 0 0, 0 60px, 60px -60px, -60px 0px;
    height: 480px;
    width: 480px;
    box-sizing: border-box;
    display: flex;
}

#start {
    color: #222222;
    height: 50px;
    width: 120px;
    margin: 12px 0 0 20px;
}

.col {
    width: 60px;
    height: 100%;
    box-sizing: border-box;
}

.jewel-outer {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jewel-inner {
    transition: all 1s ease;
    height: 20px;
    width: 19px;
    box-sizing: border-box;
    border: #ececec78 2px solid;
    position: relative;
    box-shadow: inset 0 0 10px #0000002b;
}

.jewel-0 {
    background: #d00;
    background: #d40000;
}
.jewel-1 {
    background: #bf5700;
    background: #B87333;
}
.jewel-2 {
    background: #ffce00;
    background-color: #FFD700;
}
.jewel-3 {
    background: #1be0b2;
}
.jewel-4 {
    background: #0062f4;
    background: #0066ff;
}
.jewel-5 {
    background: #323232;
    background: #000;
}
.jewel-6 {
    background: #fff;
}

.jewel-active {
    transform: scale(1.15);
    border: #fffe00 2px solid;
}

.swap-left {
    transform: translateX(-60px);
}
.swap-right {
    transform: translateX(60px);
}
.swap-up {
    transform: translateY(-60px);
}
.swap-down {
    transform: translateY(60px);
}